---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/layout/Navigation.astro';
import Hero from '../components/sections/Hero.astro';
import Expertise from '../components/sections/Expertise.astro';
import Career from '../components/sections/Career.astro';
import Projects from '../components/sections/Projects.astro';
import Writing from '../components/sections/Writing.astro';
---

<Layout lang="pl" title="Rafał Dziuba - Portfolio">


  <main>
    <Hero currentLang="pl" />
    <Expertise currentLang="pl" />
    <Career currentLang="pl" />
    <Projects currentLang="pl" />
    <Writing currentLang="pl" />
  </main>
</Layout>
